/* top navigation bar */

#repo-files-table a,
.ui.fourteen.wide.column a {
	color: #3572b0;
}

#navbar {
	background: #205081;
	color: #FFF;
}

/* notifications counter in top navigation bar */
.notification_count {
	background: #ffffff;
	color: #000;
}

/* inactive navbar items */
#navbar .item {
    background: #205081;
	color: #ffffff;
}

/* active item in top navigation bar */
#navbar .item.active {
    background: #296ca3;
	color: #ffffff;
}

/* hover item in top navigation bar */
#navbar .item:hover {
    background: #296ca3;
}

#navbar .menu .item,
#navbar .user-menu {
	background: #205081;
    color: #ffffff;
}
#navbar .menu .item:hover {
	background: #296ca3;
    color: #ffffff;
}

.ui.dropdown .menu>.header {
	color: #ffffff;
}

.feeds .list ul li.private {
	background: #ffffff;
}

/* buttons */
.ui.green.button, 
.ui.blue.button, 
.ui.teal.button,
.ui.primary.button
{
    background: #4183c4;
	color: #FFFFFF;
}

.ui.green.button:hover, 
.ui.blue.button:hover, 
.ui.teal.button:hover,
.ui.primary.button:hover {
    background: #31699f;
	color: #FFFFFF;
}


/* labels */
.ui.ui.ui.grey.label,
.ui.ui.ui.black.label,
.ui.ui.ui.green.label
{
    background: #296ca3;
	color: #FFFFFF;
}

/* icons color customization */
.ui .text.green {
	color: #296ca3;
}
